{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li class="" data-slide-to="0" data-target="#main-slider"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(static/images/slider/bg.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered" style="margin-top: 265px;">
                                    <h2 class="animation animated-item-1">Web Services</h2>
                                    <p class="animation animated-item-2">Design | Support | Social Media</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    <h2 class="boxed animation animated-item-1">Clean, Crisp, Powerful and Responsive Web Design</h2>
                                    <p class="boxed animation animated-item-2">etc</p>
                                    <br>
                                    <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg.jpg)" class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered" style="margin-top: 219px;">
                                    <h2 class="animation animated-item-1">Web Services</h2>
                                    <p class="animation animated-item-2">Design | Support | Social Media</p>
                                    <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered" style="margin-top: 129px;">
                                    <div class="embed-container">
                                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/69421653?title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
    </section>
    <section class="emerald" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-twitter icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Twitter Marketing</h3>
                            <p>Generate content around your business and get the word out.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-facebook icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Facebook Marketing</h3>
                            <p>Maintain Pages, Shops and Status Updates and project a modern business image.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-google-drive icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Google Drive Management</h3>
                            <p>Update your Google Contacts, Sheets, Docs and much, much more.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section>




{% endblock %}

